* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    transition: background-image 1s ease-in-out;
    /* display: flex; */
}
  
.main {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background-size: cover;
    color: #ffffff;
    
 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
}
  

.time {
    font-size: 8rem;
}
.day__string{
    font-size: 1.5rem;
    margin-top: 0.1rem;
    margin-bottom: 3rem;
}
  
h1 {
    margin-bottom: 3rem;
}
  
h2 {
    margin-bottom: 0.5rem;
    opacity: 0.8;
}
  
@media (max-width: 700px) {
    .time {
        font-size: 6rem;
    }
}
  
.btn {
    width: 60px;
    height: 60px;
    border: 0;
    background: url("http://droit.ump.ma/uploads/images/1/icone%20avis/5c0f809567e28.png");
    background-size: cover;
    filter: grayscale(1);
    float: right;
}
.btn:active,
.btn:focus {
    outline: 0;
}
.btn:active{
    transform: scale(1.02)
}